body{
    background-image: url("src/fn.jpg");
}

.logo{
    position: absolute;
    top: 0px;
    left: 30px;
}
/* .fondogris{
    position: absolute;
    width: 1366px;
    height:700px;
    background-color: black;
} */

.caja3{
    position: absolute;
    top: 180px;
    left: 450px;
    width: 500px;
    height:50px;
    color: white;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.per{
    position: absolute;
    width: 200px;
    height: 30px;
    margin: 0px;
    background-color: rgba(131, 113, 113, 0.301);
    /* opacity: .25; */
    top: 500px;
    left: 600px;
}
.perfiles{
    color: white;
    background-color: rgba(32, 32, 32, 0.164);
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.usuarios{
    position: absolute;
    width: 510px;
    height: 160px;
    margin: 0px;
    /* background-color: aqua; */
    top: 250px;
    left: 430px; 
}
.cuadro{
    width: 150px;
    height:130px;
    margin: 7px;
    display: inline-block;
}
p.negrita{
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.usua1{
    position: absolute;
    top: 400px;
    left: 440px;
    width: 200px;
    height:330px;
    color: white;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.usua2{
    position: absolute;
    top: 400px;
    left: 615px;
    width: 200px;
    height:330px;
    color: white;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.usua3{
    position: absolute;
    top: 400px;
    left: 790px;
    width: 200px;
    height:330px;
    color: white;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nom{
        color: white;
        background-color: black;
        width: 150px;
        height: 30px;
        font-size: 15px;
        border: 0px;
        border-radius: 5px;    
}